:root {
    --color-primary: #004d99;
    --color-primary-dark: #003366;
    --color-background: #f9f9f9;
    --color-white: #ffffff;
    --color-text: #000000;
    --color-border: #ddd;
    --color-hover: #f2f2f2;
    --color-overlay: rgba(0, 0, 0, 0.7);
}

/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}

/* Header */
.header {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px;
    text-align: center;
}

/* Container */
.container {
    padding: 20px;
}

/* Layout für Such- und Ergebnisbereiche */
.section-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Allgemeine Box-Stile */
.section,
.section-search,
.section-results {
    background: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    box-sizing: border-box;
}

.section-search,
.section-results {
    width: 49.5%;
}

/* Suchergebnisse begrenzen */
.section-results {
    max-height: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Überschriften */
h2 {
    margin-top: 0;
    color: var(--color-primary);
    font-size: 1.8em;
}

/* Buttons */
.button,
.button-search {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px 30px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin-top: 10px;
}

.button:hover,
.button-search:hover {
    background-color: var(--color-primary-dark);
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Stil für aktive Buttons */
.button.active {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Eingabefelder */
.input-field {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.input-date {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

/* Datumsbereich */
.section-date {
    display: flex;
    gap: 20px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
}

/* Wrapper für scrollbare Tabelle */
.results-buttons,
.results-table {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 20px;
}

.results-buttons {
    max-height: 150px;
}

/* Tabelle bleibt in normaler Struktur */
table {
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--color-primary);
    z-index: 2;
}

tbody {
    overflow-y: auto;
    max-height: 250px;
}

th,
td,
tr {
    padding: 6px;
    font-size: 1em;
    white-space: nowrap;
    text-align: center;
}

tr:nth-child(even) {
    background-color: var(--color-hover);
}

tr {
    border: 1px solid var(--color-border);
}

th {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    border-radius: 4px;
}

/* Map */
#map {
    height: 400px; 
    width: 100%;
}


/* Diagramme */
.container-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.chart {
    width: 100%;
    height: 800px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Buttons in Tabellen */
.table-button {
    width: 100%;
    padding: 15px;
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    text-align: left;
}

.table-button:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Stationen Buttons */
.station-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    text-align: left;
}

.station-button:hover {
    background-color: var(--color-primary-dark);
}

/* Lade-Overlay */
#loading-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    background: var(--color-overlay);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 20px;
    font-weight: bold;
    z-index: 10000;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}

/* Spinner */
.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid var(--color-primary-dark);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
